# Copy to .env and fill with real values
MONGODB_URI="mongodb://127.0.0.1:27017/vetro"
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_SECRET_KEY=<your_cloudinary_secret>
CLOUDINARY_NAME=<your_cloudinary_name>
JWT_SECRET=<your_jwt_secret>
ADMIN_EMAIL=admin@vetro.com
ADMIN_PASSWORD=vetro765
